body {
  margin-top: 0px;
}
.red {
  height: 100px;
  background: #FF0000;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.green {
  height: 100px;
  background: #008000;
}
.blue {
  height: 100px;
  background: #00FF00;
}
  

  
